.navbar{
  background-color: lightsteelblue;
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-around;

  & a{
    text-decoration: none;
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35vh;
    text-align: center;
    & a {
      margin: 1rem 0;
    }
  }
  
}