h2 {
  font-size: 1em;
}
.drivers {
  display: flex;
  height: 90vh;
}

.driver {
  border: 1px #000 solid;
  margin-right: 1rem;
  font-size: .8em;
  &-order {
    display: flex;
    flex-direction: column;
    padding:.5rem;
    margin: .5rem;

    &__item {
      border: 1px #000 solid;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: .5rem 0;
      padding: .2rem 0;
      align-items: center;
      justify-content: space-between;
      
      & div {
        margin: 0 1rem;

        &:nth-child(3){
          color: green;
        }
        &:nth-child(4){
          color: red;
        }
        & span {
          color: #000;
        }
      }
    }
  }
   
& h2 {
    border-bottom: 1px #000 solid;
    padding: .5rem 2rem;
    background-color: rgba(0, 0, 0, 0.082);
    text-align: center;
  }
}