h2 {
  font-size: 1em;
}

.droppable {
  height: 100vh;
}
.drivers {
  display: flex;
  height: 90vh;
}

.driver {
  border: 1px #000 solid;
  margin-right: .7rem;
  font-size: .5em;
  &-order {
    display: flex;
    flex-direction: column;
    padding:.5rem;
    margin: .5rem;

    &__item {
      border: 1px #000 solid;
      display: flex;
      flex-direction: row;
      margin: .5rem .1rem;
      padding: .2rem 1.2rem;
      align-items: center;
      justify-content: space-evenly;
      
      & div {
        margin: 0 .2rem;
        &:nth-child(3){
          color: green;
        }
        &:nth-child(4){
          color: red;
        }
        & span {
          color: #000;
        }
      }
    }
  }
   
& h2 {
    border-bottom: 1px #000 solid;
    padding: .5rem 2rem;
    background-color: rgba(0, 0, 0, 0.082);
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .driver {
    margin-right: .5rem !important;

    & > div {
      margin: .1rem;
    }
    &-order {
      
      &__item{
        margin: .3rem; 
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .drivers {
    flex-direction: column;
    margin-top: 1rem !important;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .driver {
    margin: 1rem 2rem !important;
    width: 80%;
  }
}