h2 {
  font-size: 1em;
}
.droppable {
  height: 100vh;
}
.orders {
  border: 1px #000 solid;
  font-size: .5em;
  height: 90vh;
  min-width: 400px;
  &-unassigned {
    background-color: rgba(0, 0, 0, 0.082);
    border-bottom: 1px #000 solid;
    padding: .5rem 2rem;
    text-align: center;

  }
  &-title {
    display: flex;
    justify-content: center;
    align-items: center;

    & h2:nth-child(2) {
      margin-left: 4.5rem;
    }
    
    & h2:nth-child(3) {
      margin-left: 1rem;
    }

    & h2 {
      margin: 0 1rem;
    }
  }
}

.order {
  border: 1px #000 solid;
  margin: .5rem;
  padding: .3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & div:nth-child(3) {
    color: green;
  }

  & div:nth-child(4) {
    color: red;
    margin:0 1rem;
  }

  & span {
    color: #000;
  }
  
  & h2 {
    border-bottom: 1px #000 solid;
  }

  & button {
    border: 0;
  }
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & input:first-child {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 750px) {
  .orders {
    width: 80%;
    height: auto;
    margin: 60vh 2rem 1rem 2rem !important; 
  }
   .input {
     margin: 0 .1rem 0 1rem !important;
   }
}

