h2 {
  font-size: 1em;
}

.orders {
  border: 1px #000 solid;
  height: 90vh;
  &-unassigned {
    background-color: rgba(0, 0, 0, 0.082);
    border-bottom: 1px #000 solid;
    padding: .5rem 2rem;
    text-align: center;

  }
  &-title {
    display: flex;

    & h2 {
      margin:0 1.2rem;
    }
  }
}

.order {
  border: 1px #000 solid;
  margin: .5rem;
  display: flex;
  justify-content: space-evenly;

  & div:nth-child(2) {
    color: green;
  }

  & div:nth-child(3) {
    color: red;
  }

  & span {
    color: #000;
  }
  
  & h2 {
    border-bottom: 1px #000 solid;
  }
}

